﻿@model s1061587mvc.ViewModels.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI</h2>

<div>
    <h2>BMI：體重(kg) / 身高 * 身高(m)</h2>
    <form action="/Bmi/Index" method="post">
        <p>
            @Html.DisplayNameFor(a => a.Height)：@Html.TextBoxFor(a => a.Height) cm @Html.ValidationMessageFor(a => a.Height)
        </p>
        <p>
            @Html.DisplayNameFor(a => a.Weight)：@Html.TextBoxFor(b => b.Weight) kg @Html.ValidationMessageFor(a => a.Weight)
        </p>

        <input type="submit" name="送出" />
    </form>

    <p>BMI：@Model.bmi</p>
    <p>Level：@Model.level</p>
</div>