﻿
@{
    ViewBag.Title = "Html";
}
<style>
    .form{
        margin:20px;
    }
    p{
        margin:10px;
    }
</style>
<div class="form">
    <p>姓名：<input type="text" name="name" /></p>
    <p>帳號：<input type="text" name="account" /></p>
    <p>密碼：<input type="password" name="password" /></p>
    <p>性別：<input type="radio" name="gender" value="M" />男 <input type="radio" name="gender" value="F" />女 <input type="radio" name="gender" value="other" />Other</p>
    <p>興趣：<input type="checkbox" name="interest_1" value="walk" />散步 <input type="checkbox" name="interest_2" value="running" />跑步 <input type="checkbox" name="interest_3" value="swim" />游泳</p>
    <p>自我介紹：</p>
    <p><textarea rows="10" cols="20" name="introduce"></textarea></p>
    <p><button type="submit" name="submit">送出</button></p>
</div>