﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<style>
    .form {
        margin: 20px;
    }

    p {
        margin: 10px;
    }
</style>

<div>
    @{ 
        var name = "E7";
        var message = "Hi, " + name;
    }
</div>

<div class="form">
    <p>@message</p>
    <p>現在時間：@DateTime.Now</p>
    @{
        var i = 0;
        for (i = 0; i < 10; i++)
        {
            <span>[ i : @i ] </span>
        }

        string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };

    }

    <ol>
        @foreach (string fruit in fruits)
        {
        <li>@fruit</li>
        }
    </ol>

    @using (Html.BeginForm("HtmlHelper", "TestController", "FormMethod.Post"))
    {
        <p>姓名：@Html.TextBox("name")</p>
        <p>帳號：@Html.TextBox("account")</p>
        <p>密碼：@Html.Password("password")</p>
        <p>性別：@Html.RadioButton("gender", "M")男 @Html.RadioButton("gender", "F")女 @Html.RadioButton("gender", "Other")Other</p>
        <p>興趣：@Html.CheckBox("walk")散步 @Html.CheckBox("running")跑步 @Html.CheckBox("swimming")游泳</p>
        <p>自我介紹：</p>
        <p>@Html.TextArea("introduce", "", 10, 20, "");</p>
        <p><button type="submit" name="submit">送出</button></p>
    }
</div>